<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>USER HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h2 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('{% static  'cam13.jpg' %}');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    BLUE MOON

  </div>
  <div class="w3-display-middle">
    <h2 class="w3-jumbo w3-animate-top">BLUEMOON</h2>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">The Digital Store</p>
      <a href="{% url 'profile' %}" ><input type="button" value="PROFILE" style="background:transparent;border:1px solid white;color:white"></a>

      <a href="{% url 'products' %}"><input type="button" value="VIEWPRODUCTS" style="background:transparent;border:1px solid white;color:white"></a>
    <a href="{% url 'lastview' %}"><input type="button" value="PURCHASE" style="background:transparent;border:1px solid white;color:white"></a>
       <a href="{% url 'UA' %}"><input type="button" value="HOME" style="background:transparent;border:1px solid white;color:white"></a>
      <a href="{% url 'categories' %}"><input type="button" value="CATEGORIES" style="background:transparent;border:1px solid white;color:white"></a>

  </div>

</div>

</body>
</html>


